.logo {
  display: flex;
  align-items: center;
  gap: 5px;

  h2 {
    font-family: "Nunito";
    color: #4c4e4f;
    font-weight: 500;
    font-size: 25px;
  }

  img {
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
}
